# Configuración de la base de datos
MONGODB_URI=tu_uri_de_mongodb

# JWT
JWT_SECRET=tu_secreto_jwt

# SendGrid
SENDGRID_API_KEY=tu_api_key_de_sendgrid
SENDGRID_FROM_EMAIL=tu_email_verificado_en_sendgrid

# URL del frontend
FRONTEND_URL=http://localhost:5173

# Super Admin
SUPER_ADMIN_EMAIL=tu_email_super_admin
SUPER_ADMIN_PASSWORD=tu_password_super_admin