.linobelesa{padding:20px;background:#f8f8f8;text-align:center;}

/* --- Botones con gradiente global --- */

button,
.btn {
  background: #a749eb;
  background: radial-gradient(circle, rgba(167, 73, 235, 1) 0%, rgba(189, 70, 183, 1) 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover,
.btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
}
